<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Stegoscan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
  <link rel='stylesheet' href='//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css'>
  
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <!-- partial:index.partial.html -->
  <h1 class="nes-text "><span>Stego</span> 🦖 <span>Scan</span></h1>
  <div>
    <span id="error" class="nes-text is-error" style="margin-top:10px;margin-bottom: 10px;display: none;"></span>
  </div>
  <div class="wrapper">
    <div class="box">
      <div>
        <img src="/static/images/logo.jpg" />
      </div>

      <div>
        <label for="file-input" class="nes-btn is-warning" style="font-size: 24px;margin-top:20px !important;width: 100%;padding-bottom:10px !important;">Select bitmap
          <input id="file-input" type="file" accept="image/bmp" />
        </label>
      </div>
    </div>

    

  </div>
  <!-- partial -->
  <script src="static/js/script.js"></script>

</body>

</html>