<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ninja Hub</title>
    <link rel="stylesheet" href="/styles/styleIndex.css" />
  </head>
  <body>
    <div class="profile-card">
      <h2>Message something</h2>
      <p>Render a message here :P</p>
      <%- message %>
    </div>
  </body>
</html>
